html{
 /* The image used */
  background-image: url("ayu.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {box-sizing: border-box;}

body{
 margin: 0;
}
.header{
	overflow:hidden;
	background-color: rgba(255, 149, 131, 0.2);
	font-family: "Lucida Console", Courier;
	color: rgba(0, 0, 0, 0.5);
	
}


.cod {
	font-size: 25px;
	text-align:center;
	padding-right:200px;
	padding-top:10px;
	
}

.companyname {
  float: left;
font-size: 25px;
padding: 5px;
    
}


.header-right {
float: right;


}

.header a.active {
  border-radius: 10px;
  background: rgba(88, 0, 8, 0.3);
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  
}




.header a.contact {
color: white;
padding: 8px 5px;
font-size: 20px;
}

.header a.about {
	color: white;
padding: 8px 5px;
font-size: 20px;
}




@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;

  }
  
 .header-right {
    float: none;
  }
}  